:root{
    --sombra: #4506934f;
    --morado-oscuro: #471388;
    --morado: #7b14cf;
    --rosa: #FF3F7F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 1fr auto;
}
footer{
    padding: 2em;
    box-shadow: 0 0 10px var(--sombra);
    position: sticky;
    background-color: #fff;
    bottom: 0;
    text-align: center;
    color: var(--morado-oscuro);
    z-index: 100;
}
main{
    /*background-color: var(--sombra);*/
    /*background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 0% 0% / 26px 26px, radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 13px 13px / 26px 26px, linear-gradient(#8c00ff 1.5px, transparent 1.5px) 0px -0.75px / 13px 13px, linear-gradient(90deg, #8c00ff 1.5px, #ffffff 1.5px) -0.75px 0px / 13px 13px #ffffff;
    background-size: 26px 26px, 26px 26px, 13px 13px, 13px 13px;
    background-color: #ffffff;*/
    background: #450693;
background: linear-gradient(0deg,rgba(69, 6, 147, 1) 0%, rgba(140, 0, 255, 1) 16%, rgba(255, 255, 255, 1) 100%);

}
a{
    cursor: pointer;
}
h1{
    font-size: 3em;
    color: var(--morado-oscuro);
    padding: 0.3em 0;
}
.boton-1{
    margin: 1em 0;
    padding: 1em;
    background-color: var(--morado);
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}
.boton-1:hover{
    background-color: var(--rosa);
}
.div__boton-indice{
    display: none;
}
aside{
    position: fixed;
    background-color: #fff;
    z-index: 50;
    height: 100%;
    box-shadow: 0 0 10px var(--sombra);
    nav > ul {
        top: 0;
        list-style: none;
        padding: 2em;
        li{
            padding: 1em 0;
            a{
                text-decoration: none;
                color: var(--morado-oscuro);
            }
            a:hover{
                color: var(--morado);
                text-decoration: underline;
            }
        }
    }
}
p{
    text-indent: 50px;
    text-align: justify;
}
.div__contenido{
    padding: 1em;
    margin-left: 350px;
}
.section__contenido{
    background-color: #fff;
    padding: 2em;
    margin: 1em 0;
    height: 86vh;
    border-radius: 10px;
    h2{
        color: var(--morado);
        padding: 0.3em 0;
        margin-bottom: 1em;
        border-bottom: 1px solid var(--morado);
    }
    h3{
        margin: 1em 0;
        color: var(--rosa);
    }
    p{
        padding: 1em;
    }
}
.section__portada{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #ffffffbe;
    height: 86vh;
}
.section__ItvsOt{
    display: flex;
    flex-direction: column;
    div{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.section__ItvsOt .table__ItvsOT{
    td,th{
        padding: 1em;
    }
    th{
        background-color: var(--morado-oscuro);
        color: #fff;
    }
    tr > td{
        border-bottom: 1px solid;
        outline: var(--morado) solid 1px;
    }
    tr > td:nth-child(1){
        background-color: var(--morado);
        color: #fff;
        outline: none;
    }
    
}

.section__tec-clave{
    article{
        display: flex;
        flex-direction: column;
    }
    article > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            width: 30vw;
           max-width: 500px;
            height: auto;
            border-radius: 10px;
            
            filter: drop-shadow(3px 3px 5px #00000059);
        }
        ul{
            margin: auto 0;
            padding-left: 2em;
            li{
                padding: 0.5em;
                text-align: justify;
                span{
                    color: var(--morado-oscuro);
                    font-weight: bold;
                }
            }
        }
    }
}
.section__end-to-end{
    ul{
        list-style-image: url('/images/icono-ul.png');
        padding: 1em;
        padding-left: 3em;
        li{
            padding: 0.5em 0;
            strong{
                color: var(--morado-oscuro);
            }
        }
    }
}
.section__impacto{
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img{
            width: 30vw;
            margin-left: 1em;
        }
    }
}
@media (width<950px){
    aside{
        height: auto;
        width: 100%;
        position: fixed;
        top: 0;
    }
    aside:hover{
        .nav__indice{
            display: block;
        }
    }
    .div__boton-indice{
        display: block;
        padding: 1em;
        background-image: url('/images/icon-menu.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
    }
    .nav__indice{
        display: none;
    }
    .div__contenido{
        padding: 1em;
        margin-left: 0;
    }
    .section__contenido{
        padding: 1em;
        img{
           
            box-sizing: border-box;
        }
    }
    .section__tec-clave{
        article > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 100%;
            }
        } 
    }
    
}
